{% extends 'global/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="single-contact">
    <h1 class="single-contact-name">
        {{ contact.first_name}} {{ contact.last_name}}
    </h1>
    {% if contact.picture %} <p>
    <img src="{{ contact.picture.url }}" class="contact-image" alt="{{ contact.first_name }} {{ contact.last_name }}">
    </p> {% endif %}

    <p><b>ID:</b> {{ contact.id }} </p>
    <p><b>Phone:</b> {{ contact.phone }} </p>
    {% if contact.email %} <p><b>ID:</b> {{ contact.email }} </p> {% endif %}
    <p><b>Created Date:</b> {{ contact.created_date }} </p>
    {% if contact.description %} <p><b>Description:</b> {{ contact.description }} </p> {% endif %}
    {% if contact.category %}<p><b>Category:</b> {{ contact.category.name }} </p> {% endif %}

    {% if user ==  contact.owner %}
    <div class="contact-links">
        <a href="{% url 'contact:update' contact.id %}" class="btn btn-link">Update</a>

        <form action="{% url 'contact:delete' contact.id %}" method="POST">
            {% csrf_token %}

            {% if confirmation == 'no' %}
            <input type="hidden" name="confirmation" value="yes">
            <button class="btn btn-link btn-delete" type="submit">Confirm?</button>
            {% else %}
            <button class="btn btn-link btn-delete" type="submit">Delete</button>
            {% endif %}
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}